{{template "main" .}}
{{template "card" .}}
<link rel="stylesheet" href="/Vista/css/style-service.css">
<div class="container">
    <section id="our-services" data-aos="fade-up">
        <div class="row">
            <div class="col-md-5">
                <div class="desc">
                    <div class="heading">
                        <h1>Bienvenido a nuestros servicios de Jardinería</h1>
                    </div>
                    <div class="text">
                        <p>Nuestros servicios de flores están diseñados para dar vida y color a cada momento especial de
                            tu vida. Desde celebraciones alegres hasta momentos de reflexión, las flores tienen el poder
                            de transmitir emociones y crear recuerdos inolvidables.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="services">
                    <div class="column" id="column-1">
                        <div class="service" style="visibility: hidden;">
                        </div>
                        <div class="service">
                            <div class="service-desc">
                                <i class="service-icon fas fa-bullhorn">

                                </i>
                                <p class="service-txt">
                                    Flores periódicas
                                </p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service-desc">
                                <i class="service-icon fas fa-tree">

                                </i>
                                <p class="service-txt">
                                    Paisajismo
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="column" id="column-2">
                        <div class="service">
                            <div class="service-desc">
                                <i class="service-icon fa-solid fa-spa">

                                </i>
                                <p class="service-txt">
                                    Limpieza y poda
                                </p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service-desc">
                                <i class="service-icon fas fa-truck">

                                </i>
                                <p class="service-txt">
                                    Entrega urgente
                                </p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service-desc">
                                <i class="service-icon fas fa-birthday-cake">

                                </i>
                                <p class="service-txt">
                                    Decoración de eventos
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="column" id="column-1">
                        <div class="service">
                            <div class="service-desc">
                                <i class="service-icon fa-solid fa-seedling">

                                </i>
                                <p class="service-txt">
                                    Diseño de arreglos florales
                                </p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service-desc">
                                <i class="service-icon fa-solid fa-address-book">

                                </i>
                                <p class="service-txt">
                                    Asesoría y recomendaciones de plantas
                                </p>
                            </div>
                        </div>
                        <div class="service hidden">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-duration="3000">
        <h3>Un Oasis de Belleza y Sostenibilidad</h3>
        <p class="section-lead">En nuestro mundo cada vez más urbanizado, la conexión con la naturaleza es esencial para
            encontrar equilibrio y serenidad. Nuestros servicios de jardinería están diseñados para crear espacios
            verdes que no solo deslumbran visualmente, sino que también promueven la sostenibilidad y la comodidad.</p>
        <div class="services-grid">
            <div class="servi service1">
                <i class="ti-bar-chart"></i>
                <h4>Jardinería sustentable</h4>
                <p style=" text-align: justify;">En un mundo donde la sostenibilidad es una prioridad, nuestras prácticas de jardinería están en
                    sintonía con el medio ambiente. Utilizamos métodos respetuosos con la naturaleza, como la
                    conservación del agua, la elección de plantas autóctonas y la gestión responsable de residuos. Así,
                    creamos jardines que prosperan en armonía con el ecosistema local y requieren menos mantenimiento a
                    largo plazo.</p>
                <a href="#" class="cta">Ver mas<span class="ti-angle-right"></a>
            </div>

            <div class="servi service2">
                <i class="ti-light-bulb"></i>
                <h4>Fuentes</h4>
                <p style=" text-align: justify;">Las fuentes ornamentales son la pieza central de un jardín, agregando un toque de serenidad y
                    frescura. Nuestros expertos en jardinería son artistas en la creación de fuentes que reflejan la
                    belleza de la naturaleza y la elegancia del diseño paisajístico. Desde cascadas serenas hasta
                    fuentes de agua burbujeante, nuestras creaciones le brindarán la relajación y la armonía que busca.
                </p>
                <a href="#" class="cta">Ver mas<span class="ti-angle-right"></a>
            </div>

            <div class="servi service3">
                <i class="ti-money"></i>
                <h4>Riego automatizado</h4>
                <p style=" text-align: justify;">Nuestro sistema de riego automatizado le brinda la tranquilidad de saber que su jardín siempre
                    recibirá la cantidad perfecta de agua, sin importar el clima. Este sistema eficiente no solo ahorra
                    tiempo y esfuerzo, sino que también garantiza que sus plantas estén saludables y exuberantes en todo
                    momento.</p>
                <a href="#" class="cta">Ver mas<span class="ti-angle-right"></span></a>
            </div>
        </div>
    </section>
</div>
<br><br><br>
<!-- Footer-->
{{template "footer"}}
<!--end-->
<!--scripts-->
{{template "script" .}}
<!--end-->
</body>

</html>